body {
    background-color: #D7E5F0;
}

footer {
    padding-top: 60px;
}

.main-text {
    margin-top: 11%%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 700;

}

.text {
    padding-top: 7%;
}

.nav-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
a {
    text-decoration: none;
}

.questions {
    color: 'red';
    margin-top: 10%;
    font-family:  "Poppins", sans-serif;
    font-size: 1rem;
}

input {
    font-size: 1.2rem;
}

.progress {
  margin:20px auto;
  padding:0;
  width:90%;
  height:30px;
  overflow:hidden;
  background:#e5e5e5;
  border-radius:6px;
}

.bar {
	position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background:cornflowerblue;
}

.percent {
	position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  font-family:tahoma,arial,helvetica;
  font-size:12px;
  color:white;
}

.questions {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-box {

    display: flex;
    width: 18rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#books-section {
    margin-left: auto;
    margin-right: auto;
}

.box {
    margin-left: auto;
    margin-right: auto;
}
.card {
    height: 100%;
    border-radius: 5%;
}

.books-card {
    margin: 20px 0px 0 0;
}
#tech-books {
    text-align: center;
}
h3 {
margin: 6% 0 0 6%;
}



