<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EFA MM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	})



    </script>


    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EFA MM</title>

    <link href="https://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/darkly/bootstrap.min.css">

    <style>

body { background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); min-height: 100vh; overflow: hidden; }

.container { margin: 150px auto; text-align: center; }






    </style>

</head>
<body>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your score is...</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">

                    {% if point > 5 %}
                    <script>
        $(document).ready(function() {
          $("#myModa").click(startConfetti());
           });

                    </script>
                    <audio autoplay>
                        <source src="../static/mixkit-correct-answer-reward-952.mp3" type="audio/mpeg">
                    </audio>
                    <div class="col-6">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets4.lottiefiles.com/temp/lf20_hT22rr.json"
                                       background="transparent" speed="1" style="width: 200px; height: 200x;" loop
                                       autoplay></lottie-player>
                    </div>
                    {% else %}
                    <audio autoplay>
                        <source src="../static/mixkit-wrong-answer-fail-notification-946.mp3" type="audio/mpeg">
                    </audio>
                    <div class="col-6">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_4jsnlwpe.json"
                                       background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                                       autoplay></lottie-player>
                    </div>
                    {% endif %}

                    <div class="col-6 ms-auto pl-4 pt-5">
                        <p style="font-size: 70px;">{{ point }}/10</p>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" href="{{url_for('home')}}">Back to Home</a>
            </form>
        </div>
    </div>
</div>
</div>
<div id="confett">

</div>
<script src="../static/confetti.js"></script>
<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');



  ga('create', 'UA-46156385-1', 'cssscript.com');

  ga('send', 'pageview');







</script>
</body>
</html>