{% include 'header.html' %}
          <div class="container main-text">
              <div class="row mt-5">
                <div class="col-lg-6 text">
                <h1>Free Education Resources <br>for Myanmar</h1>
                <p>Accessible and Inclusive for Everyone!<br>
                This website aims for those who are aged 10+<br>
                In this website, you can solve maths problems,<br> play games and get books recommendation</p>
                <a class="btn btn-primary" href="{{ url_for('maths') }}">Start</a>
            </div>
                <img class="col-lg-6 mt-5 homepage-photo" src="../static/hero_image.png" alt="">
          </div>
        </div>


{% include 'footer.html' %}